<div (ccsClickOutside)="leaveEditMode()" [listen]="closeable">
<mat-form-field >
  <input matInput
         #userInput
         [formControl]="usersListControl"
         [matAutocomplete]="auto"
         (keydown.enter)="onEnter()">
  <button *ngIf="usersListControl.value && !usersListControl.disabled"
          mat-button matSuffix mat-icon-button aria-label="Clear">
    <mat-icon>close</mat-icon>
  </button>
  <mat-autocomplete
                    (optionSelected)="onUserChange($event.option.value)"
                    #auto="matAutocomplete"
                    (closed)="onClose()"
                    (opened)="onOpen()"
                    class="user-autocomplete">
    <mat-option *ngFor="let user of users"
                [value]="user"
                >
      {{user}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
</div>
